assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
vendor/*
backend/runtime/*
frontend/runtime/*
bacaditempat/runtime/*
.idea/*
article/runtime/*
digitalcollection/runtime/*
opac/runtime/*
guestbook/runtime/*
keanggotaan/runtime/*
pengembalianmandiri/runtime/*
peminjamanmandiri/runtime/*
backend/assets_b/plugins/phpqrcode/cache/*
uploaded_files/foto_anggota/temp/*
uploaded_files/temporary/*